@charset "UTF-8";

.wrapper-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}

.main-wrapper {
  margin: 0 auto;
  max-width: 2050px;
}

.wrapper {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1810px;
}

.wrap {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1240px;
}

.faw {
  font-family: 'FontAwesome';
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 23px 33px;
  min-width: 180px;
  height: 59px;
  border: 2px solid #737373;
  text-transform: uppercase;
  white-space: nowrap;
  color: #454647;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3.2px;
}

.btn:hover {
  border: 2px solid rgba(115, 115, 115, 0);
  background-color: #00c8c8;
  color: #f8f8f8;
}

/*========== HEADER ================*/

.header {
  position: relative;
  z-index: 10;
  background-color: #333;
}

.header-control-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 45px;
  color: #999;
}

.header-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.language-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  color: #777;
  line-height: 21px;
  font-weight: 700;
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
}

.language__link:hover {
  color: #fff;
}

.language-link__text:after {
  margin-left: 5px;
  content: '';
  font-size: 16px;
  font-family: 'FontAwesome';
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 18px;
  height: 100%;
}

.link:hover {
  color: #f4f4f4;
}

/*-------header-control__right--------*/

.header-control__right {
  color: #999;
  line-height: 20px;
  font-weight: 400;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
}

.register-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: 100%;
  color: #999;
  font-weight: 700;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
}

/*-------header-cart--------*/

.header-cart__link {
  height: 100%;
}

.header-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin-left: 65px;
  width: 147px;
  height: 100%;
  background-color: #00c8c8;
  color: #fff;
}

.cart-ico.faw {
  font-size: 20px;
}

.cart__total {
  position: relative;
  margin-right: 15px;
}

.cart__total:after {
  position: absolute;
  margin-left: 6px;
  content: '';
  font-size: 16px;
  font-family: 'FontAwesome';
}

/*========== MAIN ==================*/

/*----------section navigation----------*/

.navigation-row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 1200px;
  max-height: 700px;
  height: 50vw;
}

.navigation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 95px;
  background-color: #f8f8f8;
}

.banner__img {
  position: absolute;
  top: 0;
  left: 100px;
  z-index: 1;
  height: 100%;
}

.banner__img img {
  width: auto;
  height: 100%;
}

.navigation-logo {
  position: relative;
  z-index: 9;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  text-transform: uppercase;
  color: #222;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.2px;
}

.navigation-logo span:nth-child(1) {
  font-weight: 700;
}

/*------navigation right---------*/

.navigation-search {
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

.header-search {
  position: relative;
}

.header-search__text {
  padding-right: 30px;
  padding-left: 11px;
  width: 190px;
  height: 30px;
  border: 1px solid #e7e7e7;
  background-color: #f8f8f8;
}

.header-search__btn {
  position: absolute;
  right: 2px;
  width: 30px;
  height: 30px;
  border: none;
  background-color: inherit;
  color: #989898;
  font-size: 15px;
  font-family: 'FontAwesome';
}

/*-------header-naviagation--------*/

.header-navigation {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-right: 20px;
  height: 100%;
}

.header-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 650px;
  width: 60%;
  list-style: none;
  text-transform: uppercase;
  white-space: nowrap;
  color: #222;
  font-weight: 700;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
}

.header-navigation__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 10px;
  height: 40px;
}

.header-navigation__item:hover .header-navigation__link,
.header-navigation__item.active .header-navigation__link {
  color: #00c8c8;
}

.header-navigation__arrow {
  display: none;
  margin-bottom: -15px;
  font-size: 16px;
  font-family: 'FontAwesome';
}

.header-navigation__link.arrow .header-navigation__arrow {
  position: absolute;
  bottom: 5px;
  left: 10px;
  display: block;
  font-size: 16px;
  font-family: 'FontAwesome';
}

/*---------- baner ----------*/

.banner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  max-height: 825px;
  width: 100%;
  background-color: #f8f8f8;
}

.banner__text {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  max-width: 1600px;
  width: 100%;
  text-transform: uppercase;
  color: #575153;
  font-weight: 700;
  font-size: 25vw;
  font-family: 'Montserrat', sans-serif;
}

.banner__btn {
  position: relative;
  z-index: 2;
  display: block;
  margin-right: 15%;
  margin-left: auto;
  background-color: #f8f8f8;
}

/*---------- section popular ----------*/

.popular {
  margin-top: 62px;
  margin-bottom: 62px;
  padding-top: 54px;
  height: 1447px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.popular-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  text-transform: uppercase;
  color: #727272;
  font-weight: 400;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
}

.popular-navigation__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 20px;
  margin-left: 20px;
  padding-right: 10px;
  padding-left: 10px;
  height: 40px;
}

.popular-navigation__list li:first-child a {
  margin-left: 0;
  padding-left: 0;
}

.popular-navigation__item.active .popular-navigation__link,
.popular-navigation__link:hover {
  color: #00c8c8;
}

/*-------popular-main-row--------*/

.popular-main-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 55px;
}

.popular-block-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 870px;
  height: 1234px;
  text-align: center;
}

.revers {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.popular-twoo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 870px;
}

.popular-item--one {
  position: relative;
  width: 870px;
  background-color: #f8f8f8;
}

.popular-item--twoo {
  position: relative;
}

.popular-item--twoo:hover .popular-item-hover {
  visibility: visible;
  opacity: 1;
}

.popular__price {
  position: absolute;
  top: 15px;
  left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  color: #9a9a9a;
  font-weight: 300;
  font-size: 21px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.05px;
}

.popular__price--old {
  display: none;
  margin-right: 14px;
}

.sale .popular__price--old {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price--old {
  text-decoration: line-through;
}

.popular__price--current {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.currency {
  margin-right: 3px;
  font-size: 12px;
}

/*---------- populart-item--hover ----------*/

.popular-item-hover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  visibility: hidden;
  width: 100%;
  height: 650px;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.14);
  opacity: 0;
  -webkit-transition: opacity .4s linear;
  -o-transition: opacity .4s linear;
  transition: opacity .4s linear;
}

.small-picture {
  position: absolute;
  top: 17px;
  right: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 82px;
  height: 219px;
}

.small-picture__item img {
  width: 100%;
  border: 1px solid #fff;
}

.small-picture__ico--i {
  position: absolute;
  top: 50%;
  left: 50%;
  text-shadow: 0 2px 12px rgba(0, 0, 0, 0.13);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 400;
  font-size: 48px;
  font-family: 'FontAwesome';
}

/*---------- small-picture__footer ----------*/

.small-picture__footer {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 420px;
  height: 150px;
  background-color: #fff;
}

.small-picture__title {
  margin-top: 21px;
  text-transform: uppercase;
  color: #727272;
  font-weight: 400;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
}

.small-picture__title sup {
  font-size: 10px;
}

.small-picture__desc {
  margin-top: 15px;
  width: 306px;
  color: #8e8c8c;
  line-height: 22px;
  font-weight: 400;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

.small-picture-btns {
  position: absolute;
  bottom: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.small-picture-btn__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 14px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #727272;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  font-family: 'FontAwesome';
}

.small-picture-btn__item:hover {
  background-color: #00c8c8;
}

.small-picture-btns:last-child {
  margin-right: 0;
}

/*---------- section lookbook ----------*/

.lookbook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.lookbook-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  width: 663px;
  height: 530px;
  background-color: #f8f8f8;
}

.lookbook-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 110px;
  width: 295px;
  height: 320px;
}

.lookbook-text-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.lookbook-text-title__bold {
  text-transform: uppercase;
  color: #575153;
  font-weight: 700;
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2.4px;
}

.lookbook-text-title__light {
  margin-top: 5px;
  text-transform: uppercase;
  color: #575153;
  font-weight: 300;
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2.4px;
}

.lookbook-text__desc {
  text-align: right;
  color: #727272;
  line-height: 25px;
  font-weight: 400;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

.lookbook-text__desc span {
  font-family: 'FontAwesome';
}

.lookbook-btn {
  margin-top: 10px;
}

/*========== FOOTER ================*/

/*----- footer-information --------*/

.footer-section {
  margin-top: 100px;
  background-color: #f8f8f8;
}

.footer-navigation-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px auto 0;
  padding-top: 63px;
  padding-bottom: 63px;
  width: 1200px;
}

.footer-navigation-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 860px;
}

.footer-block__title {
  text-transform: uppercase;
  color: #575153;
  font-weight: 400;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
}

.footer-nav-block__list {
  margin-top: 33px;
  list-style: none;
}

.footer-nav-block__item {
  color: #727272;
  line-height: 30px;
  font-weight: 300;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.footer-nav-block__item:hover {
  color: #000;
}

/*-------footer contact--------*/

.footer-contact {
  margin-left: 90px;
}

.contact-text * {
  margin-top: 15px;
}

.contact-text {
  color: #727272;
  line-height: 20px;
  font-weight: 300;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

/*---------- section social ----------*/

.social {
  height: 260px;
  background-color: #f8f8f8;
}

.social-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
}

.avard-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 570px;
  height: 200px;
  background-color: #333;
  text-transform: uppercase;
  color: #fff;
  line-height: 48px;
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.8px;
  letter-spacing: 1.8px;
}

.avard-block span:first-child {
  font-weight: 700;
}

.avard-block span:last-child {
  font-weight: 300;
}

.social-link-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 570px;
  height: 200px;
  background-color: #00c8c8;
}

.social-link__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.social-link__item {
  margin-right: 60px;
  color: #fff;
  font-weight: 400;
  font-size: 36px;
  font-family: 'FontAwesome';
}

.social-link__item:last-child {
  margin-right: 0;
}

/*---------- section copyright ----------*/

.copyright {
  margin: 0 auto;
  width: 100%;
  height: 45px;
  background-color: #333;
}

.copyright-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
}

.copyright__left {
  color: #999;
  font-weight: 400;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
}

.copyright__right {
  color: #777;
  font-weight: 400;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 1199px) {
  .navigation-logo {
    font-size: 20px;
  }

  .header-navigation__list {
    width: 100%;
  }
}

@media (max-width: 899px) {
  .navigation-logo {
    font-size: 18px;
  }
}